<body>
<h2>ユーザー編集</h2>
	<div class="row">
		<img src="/assets/rogo_header2_long.png" alt="ライン">
	</div>
	<%= form_for(@user) do |f| %>
		<!-- エラーメッセージ表示-->
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3><
				<ul>
					<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

	<div class="col-md-6 col-md-offset-3">
		<div class="field">
			<%= f.label :写真 %><br /><br /><br />
			<%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", id: "img_prev" %>
			<%= f.attachment_field :profile_image, class: "user_image" %>
		</div>

		<div class="field">
			<%= f.label :名前 %><br /><br />
			<%= f.text_field :name, class: "name" %>
		</div>

		<div class="field">
			<%= f.label :一言 %><br /><br />
			<%= f.text_area :introduction, class: "introduction" %>
		</div>

		<div class="field">
			<%= f.submit "更新する", class: "btn btn-warning col-xs-2 col-xs-offset-5" %>
		</div>

	<% end %>

	<script>
		$(document).on("turbolinks:load", function(){
		  function readURL(input) {
		    if(input.files && input.files[0]){
		      var reader = new FileReader();
		      reader.onload = function (e) {
		        $('#img_prev').attr('src', e.target.result);
		      }
		      reader.readAsDataURL(input.files[0]);
		    }
		  }
		  $("#user_profile_image").change(function(){
		    readURL(this);
		  });
		});
	</script>
	</div>
</body>