<div class=“container”>
<body>
	<div class="row">
		posts/new
	<%= form_for(@post) do |f| %>
		<div class="field row">
			<%= f.label :title %>
			<%= f.text_field :title, class: "col-xs-12 post_title" %>
		</div>

		<div class="field row">
			<%= f.label :introduction %>
			<%= f.text_area :introduction, class: "col-xs-12 post_introduction" %>
		</div>

		<div class="field row">
		<%= f.label :image %>
    	<%= attachment_image_tag @post, :image_id, fallback: "no_image.jpg", id: "img_prev", style: "height: 250px; width:300px;" %>
    	<%= f.attachment_field :image_id, class: "post_image" %>
  		</div>

		<div class="article-tags-field">
			<%= f.label "カテゴリー" %>
      		<ul id="article-tags">
      		</ul>
    	</div>
		<div class="actions row">
			<%= f.submit class: "btn btn-primary col-xs-12" %>
		</div>
	<% end %>
	</div>
</body>
</div>