<body>
	<h2>投稿詳細</h2>
		<div class="row">
			<img src="/assets/rogo_header2_long.png" alt="ライン">
		</div>
		<%= link_to user_path(@post.user) do %>
			<div class="col-xs-6 col-md-offset-3">
				<span><%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "50x50",  class: "pull-left profile-img", fallback: "no-image.png" %></span>
				<span><%= @post.user.name %></span>
			</div>
		<% end %>

			<div class="col-xs-6 col-md-offset-3">
				<%= attachment_image_tag @post, :image, format: 'jpeg', class: "pull-center post-img", fallback: "no-image.png" %>
			</div>
			<div class="col-xs-6 col-md-offset-3" style="text-align: left;">
				<h4>　　タイトル：　<%= @post.title %></h4>
				<h4>　　一言：　　　<%= @post.introduction %></h4>
			</div>

		<div class="col-xs-6 col-md-offset-3">
			<span>いいね件数: <%= @post.likes.count %></span>
				<% if current_user.already_liked?(@post) %>
			<span><%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete, class: "btn-sm btn-danger"  %></span>
				<% else %>
			<span><%= button_to 'いいね', post_likes_path(@post), class: "btn-sm btn-warning" %></span>
				<% end %>
		</div>

		<div class="col-xs-6 col-md-offset-5" style="text-align: right;">
				<% if @post.user == current_user %>
			<span><%= link_to "編集", edit_post_path(@post), class: "btn-lg btn-warning edit_post_#{@post.id}" %></span>
			<span><%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-lg btn-danger destroy_post_#{@post.id}" %></span>
				<% end %>
		</div>

		<div class="row">
			<img src="/assets/rogo_header2_long.png" alt="ライン">
		</div>

		<table class="table">
          <tr>
			 <% @post_comments.each do |post_comment| %> 
			 <tr> 
			 	<td class="show-comment"> 
			 		<span><%= link_to user_path(post_comment.user), class: "user_#{post_comment.user.id}" do %>               <%= attachment_image_tag post_comment.user, :profile_image, fallback: "no-image.png", size: "50x50" %></span> 
			 		<span><%= post_comment.user.name %> </span>
			 		<% end %> 
			 	</td> 
			 	<td class="show-comment"><%= post_comment.content %>
			 	</td> 
			 	<% if current_user == post_comment.user %> 
			 	<td><%= link_to "削除する", post_post_comment_path(@post, post_comment), method: :delete, class: "btn-sm btn-danger " %></td>
			 </tr> 
			 	<% end %> 
      	  </tr>
         <% end %>
        </table>
		<table class="table">
          <tr>
          <td>
          	<%= form_for [@post, @post_comment] do |f| %>
			  <div class="comment">
			      <%= f.text_area :content, class: "form-control" %>
			  </div>
			  <%= f.submit "送信する", class: "btn btn-lg btn-warning btn-base-1 mt-20 pull-right" %>
			<% end %>
          </td>
          </tr>
        </table>
        <p><%= link_to ' 投稿一覧ページに戻る', posts_path, class: "btn-sm btn-light" %></p>
</body>