<!DOCTYPE html>
<html>
  <head>
    <title>Handrogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <% if user_signed_in? %>
          <li><%= link_to users_path(current_user) do  %>
                <%= image_tag("rogo_header2.png", alt: "header_logo2") %>
              <% end %>
          </li>
          <% else %>
          <li><%= link_to root_path do  %>
                <%= image_tag("rogo_header2.png", alt: "header_logo2") %>
                <% end %>
          </li>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to ' 自分の投稿を見る', user_path(current_user) %></li>
              <li><%= link_to ' 友達を見つける', users_path %></li>
              <li><%= link_to ' 作品を探しに行く', posts_path %></li>
              <li><%= link_to ' 新規投稿', new_post_path %></li>
              <li><%= link_to ' このサイトを出る(ログアウト)', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to ' ホーム', root_path %></li>
              <li><%= link_to ' このサイトについて', home_about_path %></li>
              <li><%= link_to ' 新規登録', new_user_registration_path %></li>
              <li><%= link_to ' ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <body>
        <div class="container" >
        <% flash.each do |key, value| %> 
          <%= content_tag(:div, value, class: "#{key}") %> 
        <% end %> 
        <%= yield %>
      </body>
    </main>
    <footer>
      <div class="container">
        <div class="row">
            <%= image_tag "rogo_header2_long.png", alt: "line", id: "assets", class: "image" %>
        </div>
      </div>
    </footer>
  </body>
</html>