<body style="text-align: center;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
  <h2>新規登録画面</h2>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :名前 %><br />
            <%= f.text_field :name, autofocus: true, class: "name" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :パスワード確認用 %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field" >
            <%= f.submit "新規登録", class: "btn btn-warning col-xs-2 col-xs-offset-5" %><br><br>
          </div>
    <% end %>
  </div>

  <div class="row">
      <img src="/assets/rogo_header2_long.png" alt="ライン">
    </div>

  <div class="row">
    <div class="field">
        <h4>登録済みの方</h4>
    </div>
    <div class="field">
          <p><%= link_to "こちら", new_session_path(resource_name), class: "btn btn-warning" %>からログインしてください。</p>
    </div>
  </div>
</body>
